<!--ユーザー詳細のコメントした投稿一覧-->
<div class="row">
  <% unless @customer.is_hidden? %>
    <div class="col-md-4">
      <%= render 'show', customer: @customer %>
    </div>
  
    <div class="col-8">
      <h2 class="ml-0 mb-3">コメントした投稿一覧</h2>
      <div class="d-flex justify-content-between">
        <div>
          <%= link_to "投稿一覧", customers_path(customer_id: @customer.id), class: "btn btn-sm btn-outline-yellow" %>
          <%= link_to "いいねした投稿", customer_favorite_posts_path(customer_id: @customer.id), class: "btn btn-sm btn-outline-yellow" %>
          <%= link_to "コメントした投稿", customer_comment_posts_path(customer_id: @customer.id), class: "btn btn-sm btn-yellow" %>
        </div>
        <% if @comment_posts.any? %>
          <div class="mr-3">
            <!--並び替え-->
            <%= form_with(url: customer_comment_posts_path(customer_id: @customer.id), method: :get) do |f| %>
              <%= render 'sort', f: f %>
            <% end %>
          </div>
        <% end %>
      </div>
      <!-- カスタマーの投稿一覧表示 -->
      <% if @comment_posts.any? %>
        <div id="post-list">
          <% @comment_posts.each do |post| %>
            <%= render 'public/posts/posts_name', post: post %>
            <%= render 'public/posts/post_index', post: post ,customer: @customer %>
          <% end %>
        </div>
        <div class="pagination">
          <%= paginate @comment_posts, theme: 'bootstrap-5' %>
        </div>
      <% else %>
        <h3 class="mt-2">コメントした投稿はありません</h3>
      <% end %>
    </div>
  <% else %>
    <h3>非公開のユーザーです</h3>
  <% end %>
</div>
