<!--ユーザー詳細のコメントした投稿一覧-->
<div class="row">
  <% unless @customer.is_hidden? %>
    <div class="col-md-4">
      <%= render 'show', customer: @customer %>
    </div>
  
    <div class="col-8">
      <div class="mb-1">
        <%= link_to "投稿一覧", customers_path(customer_id: @customer.id), class: "btn btn-sm btn-outline-warning" %>
        <%= link_to "いいねした投稿", customer_favorite_posts_path(customer_id: @customer.id), class: "btn btn-sm btn-outline-warning" %>
        <%= link_to "コメントした投稿", customer_comment_posts_path(customer_id: @customer.id), class: "btn btn-sm btn-warning" %>
      </div>
      <!-- カスタマーの投稿一覧表示 -->
      <div id="post-list">
        <% @comment_posts.each do |post| %>
          <%= render 'public/posts/posts_name', post: post %>
          <%= render 'public/posts/post_index', post: post ,customer: @customer %>
        <% end %>
      </div>
      <div class="pagination">
        <%= paginate @comment_posts, theme: 'bootstrap-5' %>
      </div>
    </div>
  <% else %>
    <h3>非公開のユーザーです</h3>
  <% end %>
</div>
