<!--ユーザー詳細のいいねした投稿一覧-->
<div class="row">
  <% unless @customer.is_hidden? && @customer != current_customer%>
    <div class="col-md-4">
      <%= render 'show', customer: @customer %>
    </div>
  
    <div class="col-8">
      <h2 class="ml-0 mb-3">いいねした投稿一覧</h2>
      <div class="d-flex justify-content-between">
        <div>
          <%= link_to "投稿一覧", customers_path(customer_id: @customer.id), class: "btn btn-sm btn-outline-yellow" %>
          <%= link_to "いいねした投稿", favorites_customers_path(customer_id: @customer.id), class: "btn btn-sm btn-yellow" %>
          <%= link_to "コメントした投稿", comments_customers_path(customer_id: @customer.id), class: "btn btn-sm btn-outline-yellow" %>
        </div>
        <% if @favorite_posts.any? %>
          <div class="mr-3 mb-1">
            <!--並び替え-->
            <%= form_with(url: favorites_customers_path(customer_id: @customer.id), method: :get) do |f| %>
              <%= render 'sort', f: f %>
            <% end %>
        </div>
        <% end %>
      </div>
      <!-- カスタマーの投稿一覧表示 -->
      <% if @favorite_posts.any? %>
        <div id="post-list">
          <% @favorite_posts.each do |post| %>
            <div class="post-list mb-2" style="position: relative;">
              <%= render 'public/posts/posts_name', post: post %>
              <%= render 'public/posts/post_index', post: post ,customer: @customer %>
              <!-- いいねボタン -->
              <div class="favorite-btn-<%= post.id %> position-absolute" style="top: 2px; right: 26px;">
                <% if customer_signed_in? %>
                  <%= render 'public/post_favorites/post_favorites', post_id: post.id , post: post %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="pagination">
          <%= paginate @favorite_posts, theme: 'bootstrap-5' %>
        </div>
      <% else %>
        <p class="mt-3" style="font-size: 22px;">いいねした投稿はありません</p>
      <% end %>
    </div>
  <% else %>
    <p class="mt-3" style="font-size: 26px;">非公開のユーザーです</p>
  <% end %>
</div>
