<!--ユーザー詳細の投稿一覧-->
<div class="row">
  <% unless @customer.is_hidden? && @customer != current_customer %>
    <div class="col-md-4">
      <%= render 'show', customer: @customer %>
    </div>
  
    <div class="col-8">
      <div class="d-flex justify-content-between">
        <h2 class="ml-0 mb-3">投稿一覧</h2>
        <div class="mr-3">
          <!--並び替え-->
          <%= form_with(url: customers_path(customer_id: @customer.id), method: :get, local: true) do |f| %>
            <%= render 'sort', f: f %>
          <% end %>
        </div>
      </div>
      <div class="mb-1">
      <%= link_to "投稿一覧", customers_path(customer_id: @customer.id), class: "btn btn-sm btn-yellow" %>
      <%= link_to "いいねした投稿", customer_favorite_posts_path(customer_id: @customer.id), class: "btn btn-sm btn-outline-yellow" %>
      <%= link_to "コメントした投稿", customer_comment_posts_path(customer_id: @customer.id), class: "btn btn-sm btn-outline-yellow" %>
      </div>
      <!-- カスタマーの投稿一覧表示 -->
      <div id="post-list">
        <% @posts.each do |post| %>
          <%= render 'public/posts/post_index', post: post %>
        <% end %>
      </div>
      <div class="pagination">
        <%= paginate @posts, theme: 'bootstrap-5' %>
      </div>
    </div>
  <% else %>
    <h3>非公開のユーザーです</h3>
  <% end %>
</div>
