<div class="row">
  <div class="col-lg-8">
    <div class="d-flex justify-content-between">
      <h1>投稿一覧</h1>
      <!--並び替えのセレクトボックス -->
      <%= form_with(url: posts_path, method: :get, id: "sort-form") do |f| %>
        <!--@pramの値をjson形式で送る-->
        <%= f.hidden_field :q, value: (raw @param.to_json) %>
        <div class="form-group mr-lg-2 mt-2 mb-2">
          <%= f.select :sort_by, options_for_select(
            [
              ['新着順', 'latest'],
              ['古い順', 'old'],
              ['評価(高)', 'rate_high'],
              ['評価(低)', 'rate_low'],
              ['いいね(多)', 'likes_count_high'],
              ['いいね(少)', 'likes_count_low'],
              ['コメント(多)', 'comments_many'],
              ['コメント(少)', 'comments_few']
            ],
            @param[:sort_by]), { include_blank: '並び替え' }, class: 'form-control', style: 'width: 130px;', onchange: 'javascript: $("#sort-form").submit();' %>
        </div>
      <% end %>
    </div>
    
    <% @posts.each do |post| %>
      <div class="post-list mb-2" style="position: relative;">
        <%= render 'public/posts/posts_name', post: post %>
        <%= render 'post_index', post: post %>
        <!-- いいねボタン -->
        <div class="favorite-btn-<%= post.id %> position-absolute" style="top: 2px; right: 26px;">
          <% if customer_signed_in? %>
            <%= render 'public/post_favorites/post_favorites', post_id: post.id , post: post %>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <div class="pagination">
        <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
  </div>

  <div class="col-lg-4">
    <h2>絞り込み</h2>
    <!--ransackの検索フォーム-->
    <%= search_form_for @q, url: posts_path do |f| %>
      <div class="">
        <!--キーワード-->
        <%= f.search_field :title_or_text_or_playground_address_or_playground_name_or_playground_overview_cont, class: 'form-control', placeholder: 'キーワード', style: "width: 200px;" %>
        <!--都道府県-->
        <%= f.label :playground_prefecture_eq, '都道府県', '評価範囲', class: 'mb-1 mt-2' %>
        <%= f.select :playground_prefecture_eq, options_for_select(Post::PREFECTURES, @param.dig(:q, :playground_prefecture_eq)), { include_blank: '都道府県を選択' }, class: 'form-control mr-2', style: "width: 200px;" %>
        <!--評価範囲-->
        <%= f.label :rate_gteq, '評価範囲', class: 'mb-1 mt-2' %>
        <div class="d-flex">
          <% rate_ranges = { '0点' => 0, '20点' => 20, '40点' => 40, '60点' => 60, '80点' => 80, '100点' => 100 } %>
          <%= f.select :rate_gteq, options_for_select(rate_ranges, @param.dig(:q, :rate_gteq)), { include_blank: '評価を選択' }, class: 'form-control ', style: "width: 130px;" %>
          <%= f.label :rate_lteq, '～', class: 'mx-1 mt-1' %>
          <%= f.select :rate_lteq, options_for_select(rate_ranges, @param.dig(:q, :rate_lteq)), { include_blank: '評価を選択' }, class: 'form-control ', style: "width: 130px;" %>
        </div>
        <!--遊べる時間-->
        <div class="form-group mb-0">
          <p class="mb-1 mt-2">遊べる時間</p>
          <% Post.playtime_methods.each do |key, value| %>
            <div class="form-check form-check-inline">
              <%= radio_button_tag 'q[playtime_eq]', value, @param.dig(:q, :playtime_eq).to_s == value.to_s, class: 'form-check-input', id: "playtime_#{value}" %>
              <%= label_tag "playtime_#{value}", I18n.t("enums.post.playtime_method.#{key}"), class: 'form-check-label' %>
            </div>
          <% end %>
        </div>
        <!--対象年齢-->
        <div class="form-group mb-0">
          <p class="mb-1 mt-2">対象年齢</p>
          <%= f.select :post_target_ages_target_age_id_eq, options_for_select(TargetAge.all.map { |target_age| [target_age.age, target_age.id] }, @param.dig(:q, :post_target_ages_target_age_id_eq)), { include_blank: '対象年齢を選択' }, class: 'form-control', style: "width: 200px;" %>
        </div>
        <!--関連タグ-->
        <div class="form-group">
          <p class="mb-1 mt-2">関連タグ</p>
          <%= f.select :post_tags_tag_id_eq, options_for_select(Tag.all.map { |tag| [tag.name, tag.id] }, @param.dig(:q, :post_tags_tag_id_eq)), { include_blank: '関連タグを選択' }, class: 'form-control', style: "width: 200px;" %>

        </div>
        <!--検索ボタン-->
        <button class="btn btn-blue mr-3 px-5" type="submit" style="width: fit-content; ">
          検索 <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        <%= button_tag '条件リセット', type: 'button', id: "posts_search_reset_button", class: "btn btn-sm btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>

<script>
  // 条件リセットボタンがクリックされた時の処理を設定
  document.getElementById('posts_search_reset_button').addEventListener('click', function() {
    // 検索フォームの各フィールドの値をリセット
    document.getElementById('q_title_or_text_or_playground_address_or_playground_name_or_playground_overview_cont').value = '';
    document.getElementById('q_playground_prefecture_eq').value = '';
    document.getElementById('q_rate_gteq').value = '';
    document.getElementById('q_rate_lteq').value = '';
    // 遊べる時間のラジオボタンをリセット
    document.querySelectorAll('input[name="q[playtime_eq]"]').forEach(function(radio) {
      radio.checked = false;
    });
    // 対象年齢の選択肢をリセット
    document.getElementById('q_post_target_ages_target_age_id_eq').value = '';
    // 関連タグの選択肢をリセット
    document.getElementById('q_post_tags_tag_id_eq').value = '';
  });
</script>
