<% if places.present? %>
  <div class="row">
    <% places.each do |place| %>
      <%= link_to places_detailed_search_path(place_id: place.place_id), class: 'text-dark places' do %>
        <ul class="list-group">
          <li class="list-group-item d-flex places">
            <div class="mr-3">
              <% if place.photos.present? %>
                <% place.photos.each do |photo| %>
                  <% photo_url = "https://maps.googleapis.com/maps/api/place/photo?maxwidth=300&photoreference=#{photo.photo_reference}&key=#{ENV['GOOGLE_API_KEY']}" %>
                  <img src="<%= photo_url %>" alt="写真" width="210" height="140">
                <% end %>
              <% else %>
                <img src="/assets/no_image32.png" width="210" height="140">
              <% end %>
            </div>
            <div>
              <h4><%= place.name %></h4>
              
              <% if place.formatted_address.present? %>
                <p><%= place.formatted_address %></p>
              <% else %>
              <% end %>
              
              <% if place.vicinity.present? %>
                <p><%= place.vicinity %></p>
              <% else %>
              <% end %>
  
              <% if place.rating.present? %>
                <p>Google評価: <%= place.rating %></p>
              <% else %>
                <p>Google評価: なし</p>
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
    <% end %>
  </div>
<% else %>
  <p>検索結果がありません。</p>
<% end %>