<%= search_form_for @q, url: url do |f| %>
  <div class="d-flex">
    <%= f.search_field :name_or_email_or_nickname_cont, class: 'form-control mr-2', placeholder: '名前,ニックネーム,メール', style: "width: 250px;" %>
    <button class="btn btn-outline-success mr-3" type="submit" style="width: 80px; ">
      検索 <i class="fa-solid fa-magnifying-glass"></i>
    </button>
    <select class="custom-select" id="sort_by" onChange="location.href=value;" style="width: 120px;">
      <option value="">並び替え</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :created_at), 'created_at+desc') %>">新しい会員</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :created_at), 'created_at+ask') %>">古い会員</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :created_at), 'is_hidden+ask') %>">投稿公開</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :created_at), 'is_hidden+desc') %>">投稿非公開</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :created_at), 'is_deleted+ask') %>">活動中会員</option>
      <option value="<%= sort_by_sort_url(sort_url(@q, :created_at), 'is_deleted+desc') %>">退会会員</option>
    </select>
  </div>
<% end %>