<!--遊び場詳細-->
<div class="row">
  <div class="col-lg-4">
    <h1 class="mt-2">遊び場詳細</h1>
    <%= render 'playground_show', playground: @playground %>
    <div>
      <% if customer_signed_in? %>
        <%= form_with model: Playground.new, url: playgrounds_path, method: :post, local: true, id: "playground-form" do |f| %>
          <%= f.hidden_field :place_id, value: @playground.place_id if @playground.place_id.present? %>
          <%= f.submit "投稿する", class: 'btn btn-block btn-blue px-4', id: "post_button" %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="col-lg-8">
    <div class="d-flex justify-content-between">
      <h2>投稿一覧</h2>
      <!--並び替え-->
      <%= form_with(url: playground_path(@playground), method: :get, local: true) do |f| %>
        <div class="form-group">
          <%= f.select :sort_by,options_for_select(
            [ ['新着順', 'latest'],
              ['古い順', 'old'],
              ['評価(高)', 'rate_high'],
              ['評価(低)', 'rate_low'],
              ['いいね(多)', 'likes_count_high'],
              ['いいね(少)', 'likes_count_low'],
              ['コメント(多)', 'comments_many'],
              ['コメント(少)', 'comments_few'] ],
            params[:sort_by]),{ include_blank: '並び替え' },class: 'form-control', style: "width: 130px;",onChange: "javascript: this.form.submit();" %>
        </div>
      <% end %>
    </div>
    <!--一覧-->
    <% @posts.each do |post| %>
      <div class="post-list mb-2" style="position: relative;">
        <%= render 'public/posts/posts_name', post: post %>
        
        <%= link_to post_path(post.id) do %>
          <div class="list-bg p-2" style="height: 200px; width: 100%; border-radius: 7px;">
            <div class="row m-0 p-1" style="height: 100%; width: auto;">
              
              <div class="col-4 p-0" style="height: 100%; width: auto;">
                <%= image_tag post.get_post_image(140, 140), class: "post-image" %>
              </div>
              
              <div class="col-8 px-3">
                <% if post.title != "" %>
                  <h3 class="m-0" style="font-size: 22px; height: 15%;"><%= post.title.truncate(18) %></h3>
                <% else %>
                  <h3 class="m-0" style="font-size: 22px; height: 15%;">タイトルなし</h3>
                <% end %>
                <div class="position-relative pt-2" style="height: 85%;">
                  <p class="mb-1" style="font-size: 16px;"><%= post.text.truncate(90) %></p>
                  <p class="rate position-absolute mb-0" style="left: 0; bottom: 0;"><%= post.rate %>点</p>
                  <p class="position-absolute mb-0" style="font-size: 16px; right: 0; bottom: 0;">更新日: <%= time_ago_in_words(post.updated_at) %>前</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
          
        <!-- いいねボタン -->
        <div class="favorite-btn-<%= post.id %> position-absolute" style="top: 2px; right: 26px;">
          <% if customer_signed_in? %>
            <%= render 'public/post_favorites/post_favorites', post_id: post.id , post: post %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="pagination">
      <%= paginate @posts, theme: 'bootstrap-5' %>
    </div>
  </div>
        
</div>



<style>
  #post_button {
    width: 32%;
    position: fixed;
    left: 3%;
    bottom: 3%;
  }

  @media screen and (min-width: 375px) and (max-width: 768px) {
    #post_button {
    width: 90%;
    margin: 0 5%;
    position: fixed;
    left: 0;
    bottom: 3%;
    }
  }
</style>