<div class="row">
  <div class="col-4">
    <%= render 'playground_show', playground: @playground %>
  </div>
  <div class="col-8">
    <% if customer_signed_in? %>
      <%= form_with model: Playground.new, url: playgrounds_path, method: :post, local: true do |f| %>
        <%= f.hidden_field :place_id, value: @playground.place_id if @playground.place_id.present? %>
        <%= f.submit "投稿する" %>
      <% end %>
    <% end %>
    <h1>投稿一覧</h1>

    <% @posts.each do |post| %>
      <div>
        <%= link_to post_path(post.id), class: 'text-dark post' do %>
          <div class="row post">
            <div class="col-3">
              <%= image_tag post.get_post_image(150, 100), class: "img-fluid" %>
            </div>
            <div class="col-9">
              <h3><%= post.title %></h3>
              <p><%= post.text %></p>
              <p>評価: <%= post.rate %></p>
              <p>投稿日時: <%= post.created_at.strftime("%Y-%m-%d %H:%M:%S") %></p>
            </div>
          </div>
        <% end %>
        <p><%= post.customer.name %></p>
      </div>
    <% end %>
  </div>
</div>