<div class="mx-auto col-12">
  <div class="d-flex justify-content-between">
    <h5 class="bg-light text-center ml-3 mr-4 my-3 px-3" style="width: fit-content; height: fit-content;">
      <%= @customer ? "#{@customer.name}さんの投稿一覧" : "投稿一覧" %>
    </h5>
    <div class="d-flex align-items-center">
      <%= search_form_for @q, url: admin_posts_path do |f| %>
        <div class="d-flex">
          <%= f.search_field :title_or_text_cont, class: 'form-control mr-2', placeholder: 'タイトル,本文', style: "width: 200px;" %>
          <%= f.search_field :playground_name_cont, class: 'form-control mr-2', placeholder: '遊び場名', style: "width: 200px;" %>
          <%= f.search_field :customer_name_cont, class: 'form-control mr-2', placeholder: '投稿者名', style: "width: 150px;" %>
          <button class="btn btn-outline-success mr-3" type="submit" style="width: 80px; ">
            検索 <i class="fa-solid fa-magnifying-glass"></i>
          </button>
          <select class="custom-select" id="sort_by" onChange="location.href=value;" style="width: 120px;">
            <option value="">並び替え</option>
            <option value="<%= sort_by_sort_url(sort_url(@q, :created_at), 'created_at+desc') %>">新しい投稿</option>
            <option value="<%= sort_by_sort_url(sort_url(@q, :created_at), 'created_at+ask') %>">古い投稿</option>
          </select>
        </div>
      <% end %>
    </div>
  </div>
  
  <table class="table">
    <thead>
      <tr>
        <th class="bg-light" style="width: 8%;"><%= sort_link(@q, :created_at, "投稿ID",class:"text-dark") %></th>
        <th class="bg-light" style="width: 12%;"><%= sort_link(@q, :customer_name, "投稿者",class:"text-dark") %></th>
        <th class="bg-light" style="width: 25%;"><%= sort_link(@q, :playground_name, "遊び場",class:"text-dark") %></th>
        <th class="bg-light" style="width: 25%;"><%= sort_link(@q, :title, "タイトル",class:"text-dark") %></th>
        <th class="bg-light" style="width: 9%;">コメント数</th>
        <th class="bg-light" style="width: 2%;"></th>
        <th class="bg-light" style="width: 2%;"></th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.id, admin_post_path(post), class: "text-dark" %></td>
        <td><%= link_to post.customer.name, admin_customer_path(post.customer), class: "text-dark" %></td>
        <td><%= post.playground.name %></td>
        <td><%= link_to post.title, admin_post_path(post), class: "text-dark" %></td>
        <td><%= link_to post.post_comments.count, admin_post_path(post), class: "text-dark" %></td>
        <td>
          <%= link_to admin_post_path(post), class: "text-info" do %>
            <i class="fa-solid fa-file-pen"></i>
          <% end %>
        </td>
        <td>
          <%= link_to admin_post_path(post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "text-danger" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= paginate @posts, theme: 'bootstrap-5' %>
  </div>
</div>
