<header>
  <!--ナビゲーションメニュー-->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <div class="row">
        <%= link_to root_path, data: {"turbolinks"=>false} do %> <!--マップ表示エラーが出るためターボリンクスを切っている-->
          <%= image_tag 'logo.header.png', size: '130x76' ,class: 'logo-image' %>
        <% end %>
        <%= link_to  "～遊び場検索・保存サイト～",homes_about_path, class: 'about' %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="row collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <!--会員ログイン後ヘッダー-->
          <% if customer_signed_in? %>
            <li class="nav-item">
              <%= link_to "遊び場を探す", root_path, class: 'nav-link btn btn-light', data: {"turbolinks"=>false} %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿一覧", posts_path, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
            <li class="nav-item">
              <%= link_to "マイページ",customers_path, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
            <li class="nav-item">
              <%= link_to "会員ログアウト",destroy_customer_session_path, method: :delete, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
          
          <!--管理者ログイン後ヘッダー-->
          <% elsif admin_signed_in? %>
            <li class="nav-item">
              <%= link_to "データ推移", admin_homes_top_path, class: 'nav-link btn btn-light ml-lg-5', data: {"turbolinks"=>false} %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿一覧", admin_posts_path, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
            <li class="nav-item">
              <%= link_to "会員一覧", admin_customers_path, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
            <li class="nav-item">
              <%= link_to "コメント一覧", admin_post_comments_path, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
            <li class="nav-item">
              <%= link_to "タグ一覧", admin_tags_path, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
            <li class="nav-item">
              <%= link_to "管理者ログアウト",destroy_admin_session_path, method: :delete, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
          
          <!--共通ログイン前ヘッダー-->
          <% else %>
            <li class="nav-item">
              <%= link_to "遊び場を探す", root_path, class: 'nav-link btn btn-light ml-lg-5', data: {"turbolinks"=>false} %>
            </li>
            <li class="nav-item">
              <%= link_to "投稿一覧", posts_path, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン",new_customer_session_path, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
            <li class="nav-item">
              <%= link_to "管理者ログイン",new_admin_session_path, class: 'nav-link btn btn-light ml-lg-2 mt-1 mt-lg-0' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
  @media screen and (min-width:375px) and ( max-width:768px) {
    header .logo-image {
      width: 108px;
      height: 62px;
    }
    
    header .about {
      font-size: 1rem;
      margin-top: 32px;
    }
  }
  
  @media screen and (min-width:768px) {
    header .about {
      font-size: 1.2rem;
      margin-top: 40px;
    }
  }
</style>